* {
    box-sizing: border-box;
  }
  section > p:nth-child(1) {
    font-weight: 600;
    font-size: 2rem ;
    text-align: center;
  
    color: #000;
    margin-bottom: 0;
  }
  section > p:nth-child(2) {
    margin-top: 8px;
    text-align: center;
  
    color: #6a6b7c;
    white-space: nowrap;
  }
  .content {
    margin: 0 auto;
    width: 75%;
  }
  
  .exception {
    width: 100% !important;
    margin: 0 !important;
  
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  header {
    height: 60px;
  }
  
  .Fixednavbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
  }
  
  .logo {
    display: flex;
  
    & button {
        height: 100%;
        width: 120px;
        border: 0;
        color: #9B9B9B;
        font-size: 15px;
        background-color: #222222;
    }
  
    & img {
        height: 30px;
        margin: 15px;
    }
  
  }
  
  .icons {
    display: flex;
    height: 100%;
  
    & button {
        background-color: transparent;
        width: 60px;
        height: 100%;
        border-style: none;
        border: 1px solid rgba(128, 128, 128, 0.196);
    }
  
    & img {
        width: 25px;
    }
  
    .XBtn {
        font-size: 30px;
        color: #9B9B9B;
        font-weight: bolder;
    }
  }
  
  .topBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    background-color: #4c4c4c;
  }
  
  .menuBtn {
    margin: 0 auto;
    display: none;
    background-color: #222222;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    & img {
        width: 30px;
    }
  }
  
  a {
    text-decoration: none;
    color: #fff;
    align-items: center;
    height: 50px;
  }
  
  .List a {
    color: #000 !important;
    transform: scaleX(0);
    transition: transform 10s ease-in;
  
  }
  
  .topBar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 45vw;
    font-size: 14px;
    font-weight: normal;
  
  }
  
  .List li a:hover {
    text-decoration: none;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #f44949;
    text-underline-offset: 8px;
    font-weight: 600;
    transform: scaleX(1);
  
  }
  
  .Gradient {
    background: rgb(238, 130, 41);
    background-image: -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%), -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%);
    background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  }
  
  .GBtn {
    width: 9vw;
    border: 0;
    height: 35px;
    border-radius: 30px;
    color: #fff;
  
    & i {
        margin-right: 3px;
        font-size: 10px;
    }
  }
  
  #hero-thingy {
    background: url(./resources/hero.jpg.webp);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
  }
  
  .PageIntro {
  
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
  
    & img {
        max-width: 100%;
        height: auto;
        width: auto\9;
    }
  }
  
  .texts {
    align-self: center;
    margin: 0 auto;
  }
  
  .texts p:nth-child(1) {
    color: #f44949;
    white-space: nowrap;
    word-spacing: 5px;
  }
  
  .texts p:nth-child(2) {
    color: #fff;
    font-size: 60px;
  }
  
  .footerCont {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .BSText {
        color: #FFf;
  
        & p {
            margin-top: 0;
        }
        & p:nth-child(2) {
            font-size: 2rem;
            width: 350px;
            font-weight: bold;
        }
    }
  }
  
  .countdown {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }
  
  .countdown>div {
    border: 1px solid rgba(255, 255, 255, 0.242);
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .countdown div div:nth-child(1) {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .countdown div div:nth-child(2) {
    color: #fff;
  }
  
  .stupidGirl {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  
    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        & p:nth-child(1) {
            font-size: 40px;
            font-weight: 600;
        }
  
        & p:nth-child(2) {
            font-size: 16px;
            color: rgb(106, 107, 124);
            font-weight: 400;
            line-height: 28px;
        }
  
        & ul {
            font-size: 16px;
            color: rgb(106, 107, 124);
            font-weight: 400;
            line-height: 28px;
            list-style-image: url(./resources/check.png);
        }
    }
  
    .Discover {
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #f44949;
        text-underline-offset: 8px;
        font-weight: 600;
    }
  }
  
  .stupidPeople {
    padding-top: 100px;
  
    text-align: center;
    & div {
        display: flex;
        flex-wrap: wrap;
    }
  }
  
  
  
  .photos>div {
    position: relative;
  
    height: 420px;
    width: 20%;
    background-position: center top;
  }
  
  .social {
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    height: 0;
    width: 50%;
    justify-content: space-around;
    transition: all .2s ease-in;
    overflow: hidden;
  
    & i {
        align-self: center;
        transition: all .2s ease-in;
    }
  }
  
  .Names {
    position: absolute;
    height: 100px;
    width: 0;
    margin: 80px auto 0 auto;
    bottom: 10px;
    right: 0;
    left: -100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    transition: all .3s ease-in;
    overflow: hidden;
    opacity: 0;
  
    & div {
        width: 80%;
        text-align: left;
        white-space: nowrap;
        margin: 0 auto;
    }
  
    & p:nth-child(1) {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
  
    & p:nth-child(2) {
        margin-top: 0;
        color: #f44949;
    }
  }
  
  .photos div:hover {
    .social {
        justify-content: space-around;
        height: 45px;
    }
  
    .Names {
        width: 90%;
        left: 0;
        opacity: 1;
    }
  }
  .schedule {
    padding: 100px 0;
    & a:last-child {
        & div {
  
            border-radius: 0 5px 5px 0;
        }
    }
  
    & a div {
        padding: 15px 65px;
        border-left: 1px solid rgba(173, 173, 173, 0.352);
  
        & p {
            margin: 0;
            text-align: center;
        }
  
        & p:nth-child(1) {
            font-weight: 600;
            color: #000;
        }
  
        & p:nth-child(2) {
            margin-top: 8px;
            color: #6a6b7c;
            white-space: nowrap;
        }
    }
  
    & a div[class='Gradient'] {
        text-align: center;
        border-radius: 5px 0 0 5px;
  
        & p {
            color: #fff;
        }
    }
  }
  
  .timeLine {
    display: flex;
    height: 75px;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    box-shadow: 0 1px 25px #aaaaaabc;
  }
  
  
  .FSpeakers {
    padding-top: 70px;
  
    &>div {
        padding: 25px 0;
        margin: 50px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #dadada68;
        border-radius: 5px;
  
        & img {
            border-radius: 50%;
        }
  
        & i {
            color: #f44949;
        }
    }
  }
  
  .TktPrc {
    padding: 50px 0 100px 0;
    text-align: center;
    background-image: url(./resources/pricing-bg.jpg.webp);
  
    &>p:nth-child(1) {
        color: #ffffff;
        font-size: 3rem !important;
        font-weight: 700 !important;
    }
  
    &>p:nth-child(2) {
        color: #d8d1d1;
        font-size: 1rem !important;
    }
  }
  
  .TktPrc>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    & div {
        position: relative;
        background-color: rgba(255, 255, 255);
        width: 30%;
        padding: 20px 0;
  
        & p {
            color: #4e4e4ec0;
            ;
        }
  
        & div {
            width: 100%;
  
        }
  
        & button {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 40px;
            border-style: none;
            border-radius: 50px;
        }
    }
  }
  
  .TktPrc .content>div {
    &>p:nth-child(1) {
        font-weight: bolder;
        color: #000 !important;
        font-size: 2rem;
    }
  
    & div {
        font-size: 3rem;
        color: #ffffff;
        font-weight: bolder;
    }
  }
  
  .TktPrc button {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  
    & span {
        color: #f9488b;
        font-size: 28px
    }
  
    ;
  }
  
  .BST {
    padding: 30px 0;
  }
  
  .TktPrc button:hover {
    color: #fff;
  
    & span {
        color: #fff;
    }
  
    background-image: -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%),
    -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%);
    background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%),
    linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  }
  
  
  
  .Col-1 {
      background-image: url(./latest-1.jpg);
      background-repeat: no-repeat;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      color: #ffffff;
      justify-content: space-between;
  }
  
  .BSTA {
      padding-left: 35px;
      padding-bottom: 35px;
  
      & div:nth-child(1) {
          color: #ffffff;
          font-weight: 700;
          font-size: 24px;
          width: 80%;
      }
  
      & div:nth-child(2) {
          color: #ffffff;
      }
  }
  
  
  .Row-1 {
      background-image: url(./latest-2.jpg);
      background-repeat: no-repeat;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      color: #ffffff;
      justify-content: space-between;
  
  
  }
  
  .Row-2 {
      background-image: url(./latest-3.jpg.webp);
      background-repeat: no-repeat;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      color: #ffffff;
      justify-content: space-between;
  }
  
  .GridView {
      padding-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      height:80%;
      column-gap: 30px;
  
      &div {
          position: relative;
      }
  
      & div div {
          max-height: 100%;
          max-width: 100%;
  
      }
  }
  
  
  .Col-2 {
      display: grid;
      gap: 40px;
      grid-template-rows: repeat(2, 1fr);
  }
  
  .GridView .Gradient {
      display: flex;
      position: relative;
      width: 120px;
      height: 40px;
      border-radius: 3px;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      top: 30px;
      left: 40px;
  }
  @media only screen and (max-width: 1200px) {
    .photos div {
        width: 25%;
    }
  }
  
  @media only screen and (max-width: 990px) {
    .photos div {
        width: 33%;
    }
  }
  
  @media only screen and (max-width: 761px) {
    ul {
        display: none;
    }
  
    .menuBtn {
        display: flex;
    }
  
    .Tikectbtn {
        display: none;
    }
  
    .photos div {
        width: 50%;
    }
  }
  
  .sub {
    background-image: url(./newslatter-bg.jpg);
    margin-top: 100px;
    height: 180px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  
    & button {
        border-style: none;
        height: 35px;
        width: 90px;
        border-radius: 50px;
        position: relative;
        right: 95px;
        color: #ffffff;
        font-weight: bold;
    }
  
    & input {
        border-style: none;
        height: 40px;
        width: 300px;
        border-radius: 50px;
    }
  
    & input::placeholder {
        padding-left: 20px;
    }
  }
  
  .first {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .location {
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    & h6 {
        font-size: 40px;
    }
  
    & iframe {
        width: 550px;
        height: 500px;
    }
  }
  
  .footer {
    height: 450;
    background-color: #171822;
  
    & hr {
        margin: 0 auto;
        width: 75%;
        border: 1px solid rgba(158, 158, 158, 0.18);
    }
  }
  
  .sponsers {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
  }
  
  .logooo {
    margin-top: 60px;
    text-align: center;
  }
  
  .listSh {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 40%;
  
    & span {
        width: 50%;
        color: #ffffff7a;
    }
  }
  
  .SecondTolast {
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #ffffff65;
  }
  
  .socialme {
    padding-top: 20px;
    display: flex;
    width: 20%;
    justify-content: space-around;
  
    & i {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.267);
        margin: 5px;
  
    }
  }